body {
  background-image: url('../public/img/weather.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -250px;
  background-size: 150vh;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.weather-box {
  border: 5px solid white;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.627);
  padding: 80px 150px;
  margin: 30px 0;
}
.weather-button {
}